# Ignore text editor backup files
*~

# Ignore backup files
*.bak

# Ignore package-lock.json
package-lock.json

# Ignore node modules
node_modules

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out