body
{
	background-color: #000099;
	font-family: monospace;
	font-size: 10pt;
	color: #ffffff;
}

/* The workbench element */
#workbench
{
	position: absolute;
	height: 100%;
	width: 95%;
	background-color: #000099;
	z-index: 1;
}

#mainBar
{
	width: 100%;
	background-color: #ffffff;
	float: left;
}

#main-bar-default
{
	width: 100%;
	background-color: #ffffff;
	float: left;
}

#mainTitle
{
	padding: 0 0 0 5px;
	float: left;
	height: 19px;
}

/* The Workbench context menu */
#main-menu
{
	width: 100%;
	display: none;
	float: left;
	background-color: #ffffff;
	height: 20px;
}

.dropdown
{
	float: left;
	overflow: hidden;
	margin-right: 20px;
}

.dropdown .dropdown-title
{	
	height: 20px;
	border: none;
	outline: none;
	background-color: #ffffff;
}

.dropdown:hover .dropdown-title {
	background-color: #000000;
	cursor: url(images/window/cursor.png), url(images/window/cursor.cur), default;
}

.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 160px;
	border: 2px solid #000099;
}

.dropdown-entry, .dropdown-entry-disabled
{
	height: 19px;
	float: none;
	text-align: left;
	padding-left: 2px;
}

.dropdown-entry:hover {
  background-color: #000000;
}

.dropdown:hover .dropdown-content {
  top: 19px;
  display: block;
}

/* The charset element */
div.char
{
	position: relative;
	background-image: url(images/fonts/topaz.png);
	background-repeat: no-repeat;
	width: 8px;
	height: 16px;
	float: left;
}

div.word
{
	position: relative;
	float: left;
}


/* The icon element */
div.icon
{
	position: absolute;
	z-index: 1;
}

div.icon > div
{
	margin-left: auto;
	margin-right: auto;
}

/* The window elements */
div.window
{
	position: absolute;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #ffffff;
	border-width: 2px 1px 2px 2px;
	background-color: #000099;
	overflow: hidden;
	z-index: -1;
}

div.titleBar
{
	width: 100%;
	float: left;
	background-image: url(images/window/titlebar_background.png);
}

div.buttonClose
{
	float: left;
	background-image: url(images/window/button_close.png);
	width: 20px;
	height: 20px;
}

div.title
{
	padding: 2px 3px 0 4px;
	float: left;
	background-color: #ffffff;
}

div.titleInactive
{
	display: none;
	padding: 2px 3px 0 4px;
	float: left;
	background-color: #ffffff;
}

div.buttonUp
{
	float: right;
	background-image: url(images/window/button_up.png);
	width: 24px;
	height: 20px;
}

div.buttonDown
{
	float: right;
	background-image: url(images/window/button_down.png);
	width: 24px;
	height: 20px;
}

div.fillerWhiteLeft
{
	float: left;
	background-color: #ffffff;
	width: 1px;
	height: 20px;
}

div.fillerBlueLeft
{
	float: left;
	background-color: #000099;
	width: 2px;
	height: 20px;
}

div.fillerWhiteRight
{
	float: right;
	background-color: #ffffff;
	width: 3px;
	height: 20px;
}

div.fillerBlueRight
{
	float: right;
	background-color: #000099;
	width: 2px;
	height: 20px;
}

div.fillerWhiteRight_1
{
	float: right;
	background-color: #ffffff;
	width: 1px;
	height: 20px;
}

/* Viewport */
div.viewport
{
	position: absolute;
	background-color: #000099;
	top: 21px;
	bottom: 15px;
	right: 15px;
	left: 0;
	overflow: hidden;
}

/* Scrollbars */
div.scrollbarVertical
{
	top: 20px;
	position: absolute;
	right: 0;
	float: right;
	width: 15px;
	margin-left: 2px;
	background-color: #ffffff;
}

div.scrollButtonUp
{
	position: absolute;
	/*top: 20px;*/
	right: 0px;
	height: 12px;
	width: 14px;
	background-image: url(images/window/button_arrow_up.png);
	z-index: 2;
}

div.scrollButtonDown
{
	position: absolute;
	bottom: 0;
	right: 0px;
	height: 12px;
	width: 14px;
	background-image: url(images/window/button_arrow_down.png);
	z-index: 2;
}

div.scrollSpaceVertical
{
	position: relative;
	margin: 14px 1px 14px 2px;
	padding: 2px;
	background-color: #000099;
}

div.scrollButtonVertical
{
	position: absolute;
	width: 8px;
	background-color: #ffffff;
}

div.scrollButtonVerticalSelected
{
	position: absolute;
	width: 8px;
	background-color: #000000;
}

div.scrollbarHorizontal
{
	/*position: absolute;*/
	position: absolute;
	bottom: 0;
	float: right;
	height: 16px;
	background-color: #ffffff;
}

div.scrollButtonLeft
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 14px;
	width: 11px;
	background-image: url(images/window/button_arrow_left.png);
	z-index: 2;
}

div.scrollButtonRight
{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 14px;
	width: 11px;
	background-image: url(images/window/button_arrow_right.png);
	z-index: 2;
}

div.scrollSpaceHorizontal
{
	position: relative;
	height: 12px;
	margin: 2px 13px 2px 13px;
	padding: 2px;
	background-color: #000099;
}

div.scrollButtonHorizontal
{
	position: absolute;
	height: 10px;
	background-color: #ffffff;
}

div.scrollButtonHorizontalSelected
{
	position: absolute;
	height: 10px;
	background-color: #000000;
}

div.buttonResize
{
	position: absolute;
	bottom: -2px;
	right: -1px;
	height: 18px;
	width: 16px;
	background-image: url(images/window/button_resize.png);
	z-index: 2;	
}

div.dropArea
{
	position: relative;
}

div.content
{
  	position: relative;
	padding: 16px 8px 16px 8px;
	background-color: #000099;
}

div.text
{
	position: relative;
	margin-bottom: 16px;	
}

div.list
{
	position: relative;
	margin-top: 16px;
	margin-bottom: 16px;	
}

div.stop
{
	clear: left;
}

div.text > img
{
	float: right;
	margin: 2px;
}

a
{
	color: #ffffff;
}

table
{
	border-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	width: 50%;
	margin-top: 16px;
}

th
{
	background-color: #ffffff;
	color: #000099;
	text-align: left;
}

td
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

/* Ok and Cancel buttons */
div.buttonOk
{
	 height: 22px;
	 width: 62px;
	 background-image: url(images/window/button_ok.png);
}

div.buttonCancel
{
	 height: 22px;
	 width: 62px;
	 background-image: url(images/window/button_cancel.png);
}

/* form elements */
form
{
	background-color: #000022;
	color: #ffffff;
	position: absolute;
	left: 25px;
	top: 36px;
}

label
{
	margin: 2px;
}

input
{
	background-color: #000099;
	color: #ffffff;
	border-color: #ffffff;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	font-family: monospace;
	margin: 2px;
}

textarea
{
	background-color: #000099;
	color: #ffffff;
	border-color: #ffffff;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	margin: 2px;
}